/*voor font-family:
  - Sans-serif (Neutraal)
  - Georgia    (Sans maar breed)
  - Arial      (Neutraal maar dikker)
  - fantasy    (Dik en smal)
  - Verdana    (Neutraal maar groter en breeder)

  - alle a naar hn veranderen
  - alle ul en ol moeten een aparte class hebben
  */

#mainContainer{
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

/*******************************
 *           Basic             *  
 *******************************/

body{
  background-color: ghostwhite;
  font-size: 1em;
}

header{
  grid-column: 1/8;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 50px 50px 50px;
}

header > div > h1, header > div > p{
  margin: 5px;
}

.menu li{
  list-style-type: none;
  display: inline-block;
  padding-left: 10px;
}

.geenStijl li{
  list-style-type: none;
}

h1{
  color: hotpink;
  font-family: arial, sans-serif;
  text-align: center;
}

h2{
  color: #FFB3DE;
  font-family: Verdana, sans-serif;
}

h3{
  color: #FFB3DE;
  font-family: serif, sans-serif;
}

p, a{
  color: black;
  font-family: sans-serif;
}

a.hn:visited, a.hn:link{
	text-decoration: none;
	color: black;
}	

a.hn:hover, a.hn:active{
	border-bottom: solid #FFDDF4 5px;
}

a.ne:visited, a.ne:link{
	text-decoration: none;
	color: white;
}

a.ne:hover, a.ne:active{
	border-bottom: solid #FD3F92 5px;
}

a.ed:visited, a.ed:link{
	text-decoration: none;
	color: black;
}	

a.ed:hover, a.ed:active{
	border-bottom: solid #FFB3DE 5px;
}

.button{
  border: 5px #FFDDF4 solid;
  width: 230px;
  padding: 10px;
}

footer{
  grid-column: 1/8;
  background-color: hotpink;
  text-align: right;
  padding: 5px 50px 5px 0px;
}

footer > p{
  margin: 5px;
}

/*******************************
 *            Home             *  
 *******************************/

#storyContainer{
  grid-column: 2/7;
  background-color: #FFBCD9;
}

#storyContainer div{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-bottom: hotpink 5px solid;
  margin: 0px 100px 0px 100px;
}

#storyContainer > p{
  text-align: center;
  color: ghostwhite;
}

#storyContainer > div > h2, #storyContainer > div > h1{
  margin: 5px;
  color: hotpink;
  font-family: Georgia, sans-serif;
}

#timeSelection{
  grid-column: 2/7;
}

#timeSelection > div{
  border: #FFDDF4 5px solid; 
  background-color: ghostwhite; 
  margin: 60px 100px 60px 100px;
}

#timeSelection > div > a > h2{
  text-align: center;
  color: black;
}

/*******************************
 *            Begin            *  
 *******************************/

#planVanAanpak{
  grid-column: 2/7;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#planVanAanpak > #planHoofdstuk{
  display: flex;
}

#planVanAanpak > div > div{
  border: 5px #FFB3DE solid;
  width: 380px;
  height: 380px;
  padding: 20px;
  margin: 20px;
}

#gantchart{
  width: 900px;
  height: 420px;
}

#presenteren{
  grid-column: 2/7;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}

#edumundo{
  grid-column: 2/7;
}

#edumundo > div{
  display: flex;
  flex-direction: row;
}

#edumundo > div > div{
  border: 2px #FFDDF4 solid;
  background-color: #FFDDF4;
  padding: 20px;
  margin: 20px;
}

/*******************************
 *            Midden           *  
 *******************************/

#communiceren{
  grid-column: 2/7;
  background-color: #FFDDF4;
  text-align: center;
  margin: 20px 0px 20px 0px;
}

#communiceren > div > div{
  border: 2px #FFDDF4 solid;
  background-color: ghostwhite;
  padding: 20px;
  margin: 20px;
}

#onderzoek{
  grid-column: 2/7;
}

#onderzoek > div{
  display: flex;
  flex-wrap: wrap;
}

#onderzoek > div > div{
  border: 5px #FFB3DE solid;
  width: 40%;
  height: auto;
  padding: 20px;
  margin: 20px;
}

#rapporteren{
  grid-column: 2/7;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}

/*******************************
 *             Eind            *  
 *******************************/

#feedback{
grid-column: 2/7;
}

#feedback > div{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

#feedback > div > div{
  width: 40%;
  height: auto;
  padding: 0px 20px 20px 20px;
  margin: 0px 20px 20px 20px;
}

#pop{
  grid-column: 2/7;
  display: flex;
  align-items: center;
  flex-direction: column;
}

#hogeschooltaal{
  grid-column: 2/7;
  background-color: #FFDDF4;
  margin: 20px 0px 20px 0px;
}

#hogeschooltaal > div{
  display: flex;
  flex-direction: row;
}

#hogeschooltaal > div > div{
  border: 2px #FFDDF4 solid;
  background-color: ghostwhite;
  width: 33%;
  padding: 20px;
  margin: 20px 10px 20px 10px;
}